{% extends 'base.html.twig' %}

{% block pageTitle %}SymfoPop — Mercat de Segona Mà{% endblock %}
{% block title %}Inici{% endblock %}

{% block body %}

<div class="container py-5 text-center">
    <h1 class="fw-bold mb-3">Benvingut a SymfoPop 👋</h1>
    <p class="text-muted mb-4 fs-5">
        El mercat de segona mà on trobaràs de tot.<br>
        Compra, ven i descobreix productes publicats per la comunitat.
    </p>
    <a href="{{ path('app_product_index') }}" class="btn btn-primary btn-lg">
        Veure productes
    </a>
</div>

{% endblock %}